<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            display: flex;
            flex-direction: row;
        }
        .column {
            border-right: 1px solid black;
            flex: 33.33%;
            padding: 10px;
        }
        .column:last-child {
            border-right: none;
        }
        .header {
            font-weight: bold;
        }
        .header:first-child {
            font-size: 1.5em;
        }
        .lines {
            line-height: 2;
        }
        .line {
            font-size: 0;
            color: white;
            border-bottom: 1px solid black;
        }
        .line:last-child {
            border-bottom: none;
        }
        .tab-interface {
            margin-left: 20px;
        }
        .tab-address {
            margin-left: 40px;
        }
        .differences {
            display: flex;
            flex: 50% 50%;
        }
    </style>
    <title>Comparison Output</title>
</head>
<body>
    <div class="container">
        <div class="column">
            <div class="header">Netbox Devices</div>
            {% if netbox_devices %}
            <div class="lines">
                {% for device in netbox_devices %}
                    <div><strong>{{ device.name }}</strong></div>
                    <div>Interfaces:</div>
                    {% for interface in device.interfaces %}
                        <div class="tab-interface">Interface: {{ interface.name }}, MAC Address:{% if interface.mac_address%} {{interface.mac_address}} {% else %} None {% endif %}</div>
                        <div class="tab-interface">Addresses:</div>
                        {% for address in interface.addresses %}
                            <div class="tab-address">IP adress: {{ address.address }}, DNS Name: {{address.dns_name}}</div>
                        {% endfor %}
                    {% endfor %}
                    <div>Hostgroup: {{ device.hostgroup }}, {% if device.description%} Description: {{ device.description }} ,{% endif %} Status: {{ device.status }}</div>
                    <div>Templates: {{ device.templates }}</div>
                    <div class="line">Oddeleni</div>
                {% endfor %}
            </div>
            {% else %}
                <div>No Netbox devices found</div>
            {% endif %}
        </div>

        <div class="column">
            <div class="header">Differences</div>
            {% if differences %}
            <div class="lines">
                {% for difference in differences %}
                    <div><strong>Netbox: {{ difference.nb_device.name }}</strong></div>
                    <div class="interfaces">Interfaces:</div>
                    {% for interface in difference.nb_device.interfaces %}
                        <div class="tab-interface">Interface: {{ interface.name }}, MAC Address:{% if interface.mac_address%} {{interface.mac_address}} {% else %} None {% endif %}</div>
                        <div class="tab-interface">Addresses:</div>
                        {% for address in interface.addresses %}
                            <div class="tab-address">IP adress: {{ address.address }}, DNS Name: {{ address.dns_name }}</div>
                        {% endfor %}
                    {% endfor %}
                    <div>Hostgroup: {{ difference.nb_device.hostgroup }},{% if difference.nb_device.description %} Description: {{ difference.nb_device.description }} ,{% endif %} Status: {{ difference.nb_device.status }}</div>
                    <div>Templates: {{ difference.nb_device.templates }}</div>
                    <br>
                    <div class="differences">
                        <div>
                            <div><strong>Differences:</strong></div>
                            {% for difference in difference.differences[0] %}
                                <div class="tab-interface">{{ difference }}</div>
                            {% endfor %}
                        </div>
                        <div>
                            <div><strong>Same:</strong></div>
                            {% for difference in difference.differences[1] %}
                                <div class="tab-interface">{{ difference }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div><strong>Zabbix: {{ difference.zb_device.name }}</strong></div>
                    <div>Interfaces:</div>
                    {% for interface in difference.zb_device.interfaces %}
                        <div class="tab-interface">Interface: {{ interface.name }}, MAC Address: {% if interface.mac_address%} {{interface.mac_address}} {% else %} None {% endif %}</div>
                        <div class="tab-interface">Addresses:</div>
                        {% for address in interface.addresses %}
                            <div class="tab-address">{{ address.address }}</div>
                            <div class="tab-address">{{ address.dns_name }}</div>
                        {% endfor %}
                    {% endfor %}
                    <div>Hostgroup: {{ difference.zb_device.hostgroup }}, {% if difference.zb_device.description%} Description: {{ difference.zb_device.description }} ,{% endif %} Status: {{ difference.zb_device.status }}</div>
                    <div>Templates: {{ difference.zb_device.templates }}</div>
                    <div class="line">Oddeleni</div>
                {% endfor %}
            </div>
            {% else %}
                <div>No differences found</div>
            {% endif %}
        </div>

        <div class="column">
            <div class="header">Zabbix Devices</div>
            {% if zabbix_devices %}
            <div class="lines">
                {% for device in zabbix_devices %}
                    <div><strong>{{ device.name }}</strong></div>
                    <div>Interfaces:</div>
                    {% for interface in device.interfaces %}
                        <div class="tab-interface">Interface: {{ interface.name }}, MAC Address:{% if interface.mac_address%} {{interface.mac_address}} {% else %} None {% endif %}</div>
                        <div class="tab-interface">Addresses:</div>
                        {% for address in interface.addresses %}
                            <div class="tab-address">IP adress: {{ address.address }}, DNS Name: {{address.dns_name}}</div>
                        {% endfor %}
                    {% endfor %}
                    <div>Hostgroup: {{ device.hostgroup }}, {% if device.description%} Description: {{ device.description }} ,{% endif %} Status: {{ device.status }}</div>
                    <div>Templates: {{ device.templates }}</div>
                    <div class="line">Oddeleni</div>
                {% endfor %}
            </div>
            {% else %}
                <div>No Zabbix devices found</div>
            {% endif %}
        </div>
    </div>
</body>
</html>
